.newuser-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newUserbox {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 350px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.topHeader {
  color: #9ca3af;
  font-size: large;
  margin-top: 25px;
  margin-left: 25px;
}

.newuser-separator {
  width: 300px;
  height: 1px;
  margin: 0;
  margin-left: 25px;
  margin-bottom: 25px;

  background-color: #e5e7eb;
}

.newuser-label {
  margin-left: 25px;
  color: #9ca3af;
  font-size: small;
}

.newuser-input {
  width: 200px;
  margin-left: 25px;
  margin-bottom: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.newuser-ets {
  width: 200px;
  margin-left: 25px;
  margin-bottom: 20px;
  color: #9ca3af;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.newuser-leave {
  width: 200px;
  margin-left: 25px;
  margin-bottom: 20px;
  color: #9ca3af;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.newuser-submit {
  width: 200px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #9ca3af;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}